body {
  font-family: Arial;
  margin: 0;
  padding: 0;
}

header {
  background: #2874f0;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.product {
  border: 1px solid #ccc;
  margin: 10px;
  width: 200px;
  padding: 10px;
  text-align: center;
}
